ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p{
  color:red;
  font-size: smaller;
}
.note{
  font: size 20px;
}
#id-selector-demo{
  color:brown;
}
li[value=2]{
  font-size: 20px
}
*{
  color:beige;
  font-family: sans-serif;
}